#you should have python 3.7 or higher to use numpy 1.18
numpy>=1.18
scipy
matplotlib>=3.0.0
pathos
dill==0.3.5.1
scikit-learn
pandas
pybind11
awkde @ git+https://github.com/noxtoby/awkde.git
kde_ebm @ git+https://github.com/ucl-pond/kde_ebm.git
tqdm
